<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
    <img class="bandera" src="{{pais.Bandera}}">
  </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <br>
  <ion-item-divider color="light" style="text-align:center;">Jugadores</ion-item-divider>

  <ion-slides pager autoplay="2000" loop="true" speed="2000">
    <ion-slide *ngFor="let jugador of jugadores | keys">
      <h2>{{jugador.value.Dorsal}} - {{jugador.value.Nombre}} {{jugador.value.Apellido}}</h2>
      <p>{{jugador.value.Altura}} m.</p>
    </ion-slide>
  </ion-slides>
<br>
  <ion-item-divider color="light" style="text-align:center;">Partidos</ion-item-divider>

  <ion-item *ngFor="let partido of partidos | keys" (click)="verPartido(partido)">
    <p>{{partido.value.Paisv}}</p>
  <ion-badge item-end>{{partido.value.Resultado}}</ion-badge>
</ion-item>
</ion-content>
