<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Paises</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let pais of paises | async" (click)="cambiarPagina(pais)">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{pais.Bandera}}">
      </ion-avatar>
      <h2>{{pais.Nombre}}</h2>
      <p>Ranking FIFA: {{pais.Ranking}}</p>
    </ion-item>
  </ion-card>
</ion-content>
