<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button>Inicio</button>
    </ion-buttons>
    <ion-title>MundiRusia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Test</p>

  <ion-content *ngFor="let pais of paises | async">
    <ion-item-group>
      <ion-item-divider color="light">{{pais.Nombre}}</ion-item-divider>
      <ion-item *ngFor="let jugador of pais.Jugadores | keys">{{jugador.value.Dorsal}} - {{jugador.value.Nombre}} {{jugador.value.Apellido}}<br/>{{jugador.value.Posicion}}</ion-item>
      <p>Partidos: </p>
      <ion-item *ngFor="let partido of pais.Partidos | keys">{{partido.value.Paisc}}{{partido.value.Resultado}}{{partido.value.Paisv}}
        <br/>
        <img src="{{partido.value.Estadio.Url}}">
        <br/>Estadio: {{partido.value.Estadio.Nombre}}       Capacidad: {{partido.value.Estadio.Capacidad}}      Ciudad: {{partido.value.Estadio.Poblacion}}


      </ion-item>
    </ion-item-group>
  </ion-content>
</ion-content>
