<!--
  Generated template for the PartidoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Partido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="img/marty-avatar.png">
      </ion-avatar>
      <h2>{{partidos.value.Paisc}} vs {{partidos.value.Paisv}}</h2>
    </ion-item>

    <img src="{{partidos.value.Estadio.Url}}">

    <ion-card-content>
      <h1>{{partidos.value.Estadio.Nombre}}</h1>
      <h3>En la poblacion de {{partidos.value.Estadio.Poblacion}}</h3>
      <h4>Con una capacidad de: {{partidos.value.Estadio.Capacidad}} personas.</h4>
      <h5>Fecha del juego: {{fecha}}</h5>
    </ion-card-content>
  </ion-card>

</ion-content>
